@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Comfortaa", cursive;
}

.flex {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15vh;
}
img {
  margin: 2vh 2vw;
}
.top {
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: space-between;
}
.bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

h1 {
  font-size: 2rem;
  position: absolute;
  left: 1vw;
  top: 1vh;
  margin: 0;
  color: #252525;
}

h2 {
  margin: 0.05vh 0.05vw 1vh;
  font-size: 1.5rem;
}

.menu {
  position: absolute;
  bottom: 3.3vh;
  left: 1vw;
  color: #252525;
  z-index: 5;
}

.background {
  background: url("../imagini/background.jpeg") no-repeat center;
  background-size: 100%;
  min-height: 50vh;
}

.light-pedestrian-intermitent img {
  width: 2vw;
  height: auto;
}
.light-pedestrian-intermitent {
  flex-shrink: 0;
}
.light-cars img {
  width: 2vw;
  height: auto;
}
.left-vertical .light-cars img,
.right-vertical .light-cars img {
  transform: rotate(90deg);
}
.right-vertical .light-cars {
}
.left-vertical .light-cars {
}
.right-horizontal .light-pedestrian-intermitent img,
.left-horizontal .light-pedestrian-intermitent img {
  transform: rotate(90deg);
  margin: 0vh 7vw 0vh;
}
.right-horizontal,
.left-horizontal,
.right-vertical,
.left-vertical {
  display: flex;
}

.left-horizontal {
  flex-direction: column;
}
.right-vertical {
  flex-direction: row-reverse;
}
.right-horizontal {
  flex-direction: column-reverse;
}
.left-vertical {
  flex-direction: row;
}

.right-vertical .light-cars,
.left-vertical .light-cars {
  display: flex;
  flex-direction: column;
}
.right-vertical .light-pedestrian-intermitent,
.left-vertical .light-pedestrian-intermitent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0vh 22vw 0vh;
}
.right-vertical .light-pedestrian-intermitent {
  margin-top: -6vw;
  margin-bottom: 13vw;
}
.left-vertical .light-pedestrian-intermitent {
  margin-top: 5vw;
  margin-bottom: -7vw;
}
.left-vertical .light-cars {
  margin: -15vh -22vw 0;
}
.right-vertical .light-cars {
  margin: 15vh -22vw 0;
}
.right-vertical .light-cars img {
  margin-top: -3vh;
}

.left-vertical .light-cars img {
  margin-bottom: -3vh;
}
.right-horizontal .light-pedestrian-intermitent,
.left-horizontal .light-pedestrian-intermitent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right-horizontal .light-pedestrian-intermitent {
  flex-direction: row-reverse;
}
.left-horizontal {
}

.right-vertical {
}

.light-pedestrian-intermitent {
}

.button {
  background: #1f1f1f70;
  border: none;
  width: 9.3vw;
  height: 2vw;
  font-size: 1rem;
  border-radius: 0.3vw;
  color: #e3e3e3;
}
button:hover {
  background: #1f1f1f90;
}

input {
  background: #1f1f1f70;
  border: none;
  width: 9vw;
  height: 2vw;
  font-size: 1rem;
  border-radius: 0.3vw;
  margin: 0.03vw;
  color: #e3e3e3;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.text {
  margin: 0.05vw;
}
p {
  margin: 0.05vw;
  font-size: 1.3rem;
}
