body,
html {
  margin: 0;
  max-width: 100%;
}

body {
  background: url("../imagini/background.png") no-repeat;
  background-size: 100%;
}

.grid {
  display: grid;
  grid-template-areas:
    "hl vs "
    "vr  hl";
}

.rand {
  width: 25vw;
  height: auto;
  grid-area: r;
}

.grid img {
  width: 10%;
  height: auto;
}

.right-horizontal {
  grid-area: hr;
}

.left-horizontal {
  grid-area: hl;
}

.left-vertical {
  grid-area: vl;
}
.right-vertical {
  grid-area: vr;
}
